alice-core==1.6.3
amqp==2.5.1
billiard==3.6.1.0
celery==4.3.0
certifi==2019.6.16
chardet==3.0.4
Click==7.0
Flask==1.1.1
gunicorn==19.9.0
idna==2.8
importlib-metadata==0.19
itsdangerous==1.1.0
Jinja2==2.10.1
kombu==4.6.4
MarkupSafe==1.1.1
meld3==1.0.2
more-itertools==7.2.0
multi-key-dict==2.0.3
parse==1.12.1
pbr==1.10.0
python-jenkins==0.4.13
pytz==2019.2
PyYAML==5.1
redis==3.3.8
requests==2.22.0
simplejson==3.16.0
six==1.12.0
slacker==0.9.24
supervisor==4.0.4
urllib3==1.25.3
uWSGI==2.0.18
vine==1.3.0
Werkzeug==0.15.5
zipp==0.6.0
